{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <section id="board" class="chessboard">
        <div id="a-8" class="column-w square">
            <img id="b-rook" src="{% static 'images/b_rook.png' %}" width="80" height="80">
        </div>
        <div id="b-8" class="column-b square">
            <img id="b-knight" src="{% static 'images/b_knight.png' %}" width="80" height="80">
        </div>
        <div id="c-8" class="column-w square">
            <img id="b-bishop" src="{% static 'images/b_bishop.png' %}" width="80" height="80">
        </div>
        <div id="d-8" class="column-b square">
            <img id="b-queen" src="{% static 'images/b_queen.png' %}" width="80" height="80">
        </div>
        <div id="e-8" class="column-w square">
            <img id="b-king" src="{% static 'images/b_king.png' %}" width="80" height="80">

        </div>
        <div id="f-8" class="column-b square">
            <img id="b-bishop" src="{% static 'images/b_bishop.png' %}" width="80" height="80">
        </div>
        <div id="g-8" class="column-w square">
            <img id="b-knight" src="{% static 'images/b_knight.png' %}" width="80" height="80">
        </div>
        <div id="h-8" class="column-b square">
            <img id="b-rook" src="{% static 'images/b_rook.png' %}" width="80" height="80">
        </div>
        <div id="a-7" class="column-b square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">
        </div>
        <div id="b-7" class="column-w square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">
        </div>
        <div id="c-7" class="column-b square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">

        </div>
        <div id="d-7" class="column-w square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">

        </div>
        <div id="e-7" class="column-b square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">

        </div>
        <div id="f-7" class="column-w square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">

        </div>
        <div id="g-7" class="column-b square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">

        </div>
        <div id="h-7" class="column-w square">
            <img id="b-pawn" src="{% static 'images/b_pawn.png' %}" width="80" height="80">

        </div>
        <div id="a-6" class="column-w square">

        </div>
        <div id="b-6" class="column-b square">

        </div>
        <div id="c-6" class="column-w square">

        </div>
        <div id="d-6" class="column-b square">

        </div>
        <div id="e-6" class="column-w square">

        </div>
        <div id="f-6" class="column-b square">

        </div>
        <div id="g-6" class="column-w square">

        </div>
        <div id="h-6" class="column-b square">

        </div>
        <div id="a-5" class="column-b square">

        </div>
        <div id="b-5" class="column-w square">

        </div>
        <div id="c-5" class="column-b square">

        </div>
        <div id="d-5" class="column-w square">

        </div>
        <div id="e-5" class="column-b square">

        </div>
        <div id="f-5" class="column-w square">

        </div>
        <div id="g-5" class="column-b square">

        </div>
        <div id="h-5" class="column-w square">

        </div>
        <div id="a-4" class="column-w square">

        </div>
        <div id="b-4" class="column-b square">

        </div>
        <div id="c-4" class="column-w square">

        </div>
        <div id="d-4" class="column-b square">

        </div>
        <div id="e-4" class="column-w square">
            <img id="w-rook" src="{% static 'images/w_rook.png' %}" width="80" height="80">
        </div>
        <div id="f-4" class="column-b square">

        </div>
        <div id="g-4" class="column-w square">

        </div>
        <div id="h-4" class="column-b square">

        </div>
        <div id="a-3" class="column-b square">

        </div>
        <div id="b-3" class="column-w square">

        </div>
        <div id="c-3" class="column-b square">

        </div>
        <div id="d-3" class="column-w square">

        </div>
        <div id="e-3" class="column-b square">

        </div>
        <div id="f-3" class="column-w square">

        </div>
        <div id="g-3" class="column-b square">

        </div>
        <div id="h-3" class="column-w square">
        </div>
        <div id="a-2" class="column-w square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="b-2" class="column-b square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="c-2" class="column-w square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="d-2" class="column-b square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="e-2" class="column-w square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="f-2" class="column-b square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="g-2" class="column-w square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="h-2" class="column-b square">
            <img id="w-pawn" src="{% static 'images/w_pawn.png' %}" width="80" height="80">
        </div>
        <div id="a-1" class="column-b square">
            <img id="w-rook" src="{% static 'images/w_rook.png' %}" width="80" height="80">
        </div>
        <div id="b-1" class="column-w square">
            <img id="w-knight" src="{% static 'images/w_knight.png' %}" width="80" height="80">
        </div>
        <div id="c-1" class="column-b square">
            <img id="w-bishop" src="{% static 'images/w_bishop.png' %}" width="80" height="80">
        </div>
        <div id="d-1" class="column-w square">
            <img id="w-queen" src="{% static 'images/w_queen.png' %}" width="80" height="80">
        </div>
        <div id="e-1" class="column-b square">
            <img id="w-king" src="{% static 'images/w_king.png' %}" widtd="80" height="80">

        </div>
        <div id="f-1" class="column-w square">
            <img id="w-bishop" src="{% static 'images/w_bishop.png' %}" width="80" height="80">
        </div>
        <div id="g-1" class="column-b square">
            <img id="w-knight" src="{% static 'images/w_knight.png' %}" width="80" height="80">
        </div>
        <div id="h-1" class="column-w square">
        </div>
    </section>
    <section>
        <h1 id="side">White moves</h1>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>